.main
  .site-heading
    = link_to image_tag("mvirtual.png", size: "350x120"), root_path

  %h2.text-center
    Comunícate sin costo alguno!
    %span.text-important MX 01800 4567 88

.container
  .row
    .col-md-6.col-md-offset-3
      .contact-form
        - if notice
          .alert.alert-success.alert-white.rounded
            .icon
              %i.fa.fa-check
            %p= notice
        %h3.text-center.text-important Regístrate Aquí
        = render "form"
        %p.text-uppercase.text-center Aceptamos todas las tarjetas de crédito
        .text-center
          = fa_icon("cc-visa 2x")
          = fa_icon("cc-mastercard 2x")
          = fa_icon("cc-amex 2x")
