.main
  .site-heading
    %h1= fa_icon("hand-pointer-o", text: "Mayordomo Virtual")
    %hr.small
    %span.subheading Líderes en servicios de outsourcing empresarial

  %h1.text-center
    Comunícate sin costo alguno!
    %span.text-danger 01800 4567 890

  %h3.text-center Regístrate Aquí

.container
  .row
    .col-md-6.col-md-offset-3
      .contact-form
        - if notice
          .alert.alert-success.alert-white.rounded
            .icon
              %i.fa.fa-check
            %p= notice
        = render "form"
        %p.text-uppercase.text-center Aceptamos todas las tarjetas de crédito
        .text-center
          = fa_icon("cc-visa 2x")
          = fa_icon("cc-mastercard 2x")
          = fa_icon("cc-amex 2x")
